@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
  box-sizing: border-box;
}

.chart {
  position: relative;
  flex: 1 0 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /*padding: 5px;*/
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Evogria, 'Russo One', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 5px;
  word-wrap: break-word;

  /* base dimensions = 246x60 */
  /* base height = 70px, base aspect ratio = 4:1 */
  min-width: 245px;
  max-width: 287px;
  min-height: 100px;
}

.bannerPlaceholder {
  position: absolute;
    width: 100%;
  padding: 5px;
}

.cardCenter {
  position: relative;
  border-bottom: 1px solid black;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  /* font-weight: bold; */
  font-size: 140%;
}

.cardHeader,
.cardFooter {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  /*padding-top: 10px;*/
  align-items: flex-end;
}

.cardFooter {
  padding: 5px;
}

.shockBadge {
  background-color: white;
  padding: 3px;
  border-radius: 50%;
  height: 1.5em;
  min-width: 1em;
}

.beginner {
  background-color: #6eccc4;
}

.basic {
  background-color: #e0de5c;
}

.difficult {
  background-color: #e8715f;
}

.expert {
  background-color: #72cc6e;
}

.challenge {
  background-color: #cc71e8;
}

.HYPER46 {
  background-color: #d8ca0d;
}
.HYPER48 {
  background-color: #bfb300;
}

.EX46 {
  background-color: #ed8b8b;
}
.EX47 {
  background-color: #e87171;
}
.EX48 {
  background-color: #ce5858;
}
.EX49 {
  background-color: #ad3030;
}
.EX50 {
  background-color: #770000;
}

.vetoed {
  opacity: 0.3;
}

.nameAndGenre {
    visibility: hidden;
}
.vetoed .nameAndGenre {
  visibility: visible;
  background: black;
}

.difficulty {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .chart {
    /* base height = 36px, base aspect ratio = 4:1 */
    /* iPhone 8 = 375x667 */
    min-width: 144px;
    max-width: 180px;
    min-height: 74px;
  }
  .name {
    /* font-weight: bold; */
    font-size: 90%;
  }
  .cardHeader,
  .cardFooter {
    font-size: 60%;
  }
}
